name: coverage

on:
  push:
    branches:
      - main
      - dev
  pull_request:
    branches:
      - main
      - dev

jobs:
  coverage:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout sources
        uses: actions/checkout@v6

      - name: Use Node.js 20.x
        uses: actions/setup-node@v6
        with:
          node-version: 20.x

      - name: Install dependencies
        run: npm ci

      - name: Generate coverage
        run: npm run test:coverage && npx c8 report --reporter=lcov

      - name: Publish to coveralls
        uses: coverallsapp/github-action@v2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
